{% extends 'base.html' %}
{% load static %}
{% load mytags %}

{% block title %}{{ title|title }}{% endblock %}
{% block content %}

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="caption">
                    <h2>Горячо! Покупай!</h2>
                    <div class="line-dec"></div>
                        <div id="{{ hot_product.id }}" class="">
                            <a href="{% url 'products:product' hot_product.pk %}">
                                <div class="featured-item">
                                    <img src="{{ hot_product.image|media_folder_products }}"
                                         alt="{{ product.name }}">
                                    <h4>{{ hot_product.name }}</h4>
                                    <h6>${{ hot_product.price }}</h6>
                                </div>
                            </a>
                        </div>
                    <div class="main-button">
                        <a href="#">Order Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Ends Here -->


<!-- Featured Starts Here -->
<div class="featured-items">
    <div class="container">
        <div class="row">


            <div class="col-md-12">

                <div class="owl-carousel owl-theme">
                    {% for product in products %}
                    <a href="{% url 'products:product' product.pk %}">
                        <div class="featured-item">
                            <img src="{{ product.image|media_folder_products }}"
                                 alt="{{ product.name }}">
                            <h4>{{ product.name }}</h4>
                            <h6>${{ product.price }}</h6>
                        </div>
                    </a>

                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Featred Ends Here -->

{% endblock %}